<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>{{name}}</h1>
    <p>Thank you for registering with Freelancing Platform! To complete your registration and activate your
        account,
        please click the link below to verify your email address:</p>
    {{confirm_link}}
    <p>
        If you did not create an account with us, please disregard this email.

        Thank you once again for choosing Freelancing Platform!. We look forward to having you as part of our
        community!

        Best regards,
        Freelancer Platform
    </p>
</body>

</html>